poc/adf/pipelines/master_orchestrator_pipeline.json
{
  "name": "pl_master_orchestrator",
  "properties": {
    "description": "Metadata-driven master orchestrator. Replaces the Informatica PowerCenter Workflow Manager. Single parameterised pipeline driven by source_config in Azure SQL.",
    "parameters": {
      "runDate": { "type": "String", "defaultValue": "@formatDateTime(utcnow(), 'yyyy-MM-dd')" }
    },
    "variables": {
      "failedSources": { "type": "Array" }
    },
    "activities": [
      {
        "name": "Lookup_ActiveSources",
        "type": "Lookup",
        "dependsOn": [],
        "policy": { "timeout": "0.00:10:00", "retry": 2, "retryIntervalInSeconds": 30, "secureOutput": false, "secureInput": false },
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": "SELECT source_id, source_system, source_type, entity, ingestion_pattern, schedule_cron, target_bronze_path, sla_minutes FROM dbo.source_config WHERE is_active = 1"
          },
          "dataset": { "referenceName": "ds_azuresql_source_config", "type": "DatasetReference" },
          "firstRowOnly": false
        }
      },
      {
        "name": "ForEach_Source",
        "type": "ForEach",
        "dependsOn": [
          { "activity": "Lookup_ActiveSources", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "items": { "value": "@activity('Lookup_ActiveSources').output.value", "type": "Expression" },
          "isSequential": false,
          "batchCount": 8,
          "activities": [
            {
              "name": "Switch_OnSourceType",
              "type": "Switch",
              "typeProperties": {
                "on": { "value": "@item().source_type", "type": "Expression" },
                "cases": [
                  {
                    "value": "db_cdc",
                    "activities": [
                      {
                        "name": "Exec_SAP_CDC",
                        "type": "ExecutePipeline",
                        "typeProperties": {
                          "pipeline": { "referenceName": "pl_sap_cdc", "type": "PipelineReference" },
                          "parameters": {
                            "sourceId": "@item().source_id",
                            "entity": "@item().entity",
                            "targetBronzePath": "@item().target_bronze_path",
                            "runDate": "@pipeline().parameters.runDate"
                          },
                          "waitOnCompletion": true
                        }
                      }
                    ]
                  },
                  {
                    "value": "sftp_file",
                    "activities": [
                      {
                        "name": "Exec_SupplierFile",
                        "type": "ExecutePipeline",
                        "typeProperties": {
                          "pipeline": { "referenceName": "pl_supplier_file", "type": "PipelineReference" },
                          "parameters": {
                            "sourceId": "@item().source_id",
                            "entity": "@item().entity",
                            "targetBronzePath": "@item().target_bronze_path",
                            "runDate": "@pipeline().parameters.runDate"
                          },
                          "waitOnCompletion": true
                        }
                      }
                    ]
                  },
                  {
                    "value": "api_rest",
                    "activities": [
                      {
                        "name": "Exec_BatchIngestion",
                        "type": "ExecutePipeline",
                        "typeProperties": {
                          "pipeline": { "referenceName": "pl_batch_ingestion", "type": "PipelineReference" },
                          "parameters": {
                            "sourceId": "@item().source_id",
                            "entity": "@item().entity",
                            "targetBronzePath": "@item().target_bronze_path"
                          },
                          "waitOnCompletion": true
                        }
                      }
                    ]
                  }
                ],
                "defaultActivities": [
                  {
                    "name": "Skip_Stream",
                    "type": "Wait",
                    "typeProperties": { "waitTimeInSeconds": 1 },
                    "description": "source_type=stream is handled by Databricks Structured Streaming, not ADF."
                  }
                ]
              }
            }
          ]
        }
      },
      {
        "name": "DBX_BronzeToSilver",
        "type": "DatabricksNotebook",
        "dependsOn": [
          { "activity": "ForEach_Source", "dependencyConditions": ["Succeeded"] }
        ],
        "policy": { "timeout": "0.02:00:00", "retry": 1, "retryIntervalInSeconds": 60 },
        "typeProperties": {
          "notebookPath": "/Repos/people10_usecase/poc/databricks/notebooks/01_bronze_to_silver_production_order",
          "baseParameters": { "runDate": "@pipeline().parameters.runDate" }
        },
        "linkedServiceName": { "referenceName": "ls_databricks", "type": "LinkedServiceReference" }
      },
      {
        "name": "DBX_SCD2_DimMaterial",
        "type": "DatabricksNotebook",
        "dependsOn": [
          { "activity": "DBX_BronzeToSilver", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "notebookPath": "/Repos/people10_usecase/poc/databricks/notebooks/02_scd2_dim_material"
        },
        "linkedServiceName": { "referenceName": "ls_databricks", "type": "LinkedServiceReference" }
      },
      {
        "name": "Exec_SynapseLoad",
        "type": "ExecutePipeline",
        "dependsOn": [
          { "activity": "DBX_SCD2_DimMaterial", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "pipeline": { "referenceName": "pl_synapse_load", "type": "PipelineReference" },
          "parameters": { "runDate": "@pipeline().parameters.runDate" },
          "waitOnCompletion": true
        }
      },
      {
        "name": "Refresh_SupplierOTD_View",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          { "activity": "Exec_SynapseLoad", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "storedProcedureName": "[dbo].[usp_refresh_supplier_otd_view]"
        },
        "linkedServiceName": { "referenceName": "ls_synapse_dedicated", "type": "LinkedServiceReference" }
      },
      {
        "name": "Notify_OnFailure",
        "type": "WebActivity",
        "dependsOn": [
          { "activity": "DBX_BronzeToSilver", "dependencyConditions": ["Failed"] },
          { "activity": "Exec_SynapseLoad", "dependencyConditions": ["Failed"] }
        ],
        "typeProperties": {
          "url": "https://prod-08.centralindia.logic.azure.com:443/workflows/...",
          "method": "POST",
          "headers": { "Content-Type": "application/json" },
          "body": {
            "value": "@{json(concat('{\"pipeline\":\"', pipeline().Pipeline, '\",\"runId\":\"', pipeline().RunId, '\",\"runDate\":\"', pipeline().parameters.runDate, '\",\"severity\":\"P2\"}'))}",
            "type": "Expression"
          }
        }
      }
    ],
    "annotations": ["chandan-aerospace", "master-orchestrator"]
  }
}
